@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-hospital-navy: #1A2B56;
  --color-hospital-dark-navy: #16213E;
  --color-hospital-light-blue: #BFDBFE;
  --color-hospital-sky-blue: #0EA5E9;
  --color-hospital-soft-blue: #E3EEFF;
  --font-sans: "Inter", "system-ui", "sans-serif";
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans antialiased text-[#1e293b];
  }
}